/* Game Page */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  #game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  #person-image {
    width: 250px;
    height: 250px;
  }
  .counts {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 1024px) {
}
